# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# General

NODE_ENV=development
ENABLED_FEATURES=

# Redis

REDIS_URL=

# Clerk

CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

# Google Sheets

GOOGLE_CLIENT_EMAIL=
SPREADSHEET_ID=
EVENT_PROGRAM_SHEET_ID=
REGISTERED_USERS_SHEET_ID=
REGISTERED_MOCS_SHEET_ID=
REGISTRATION_FORM_ID=
EXTRA_NIGHT_FORM_ID=
REGISTER_MOC_FORM_ID=

# Mail

MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
SMTP_HOST=
SMTP_PASS=
SMTP_USER=

# KV

KV_REST_API_READ_ONLY_TOKEN=
KV_REST_API_TOKEN=
KV_REST_API_URL=
KV_URL=

# Prismic

PRISMIC_TOKEN=
PRISMIC_WEBHOOK_SECRET=
